<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add A Movie</h1>
    <form action="/movies/add" method='POST'>
        <div>
            <label for="">Title of Movie</label>
            <input type="text" name='movie_title' />
        </div>
        <div>
            <label for="">Where TO Watch</label>
            <input type="text" name='where_to_watch' />
        </div>
        <input type="submit" />
    </form>
</body>
</html>