<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Movies I Should Be Watching</h1>
    <ul>
            <% data.forEach(movie => { %>
                <li>
                    <div>
                        <a href="/movies/<%= movie.id %>">Title: <%= movie.moviename%></a> 
                        Platform: <%= movie.platform%>       
                    </div>
                </li>
               
                <% }) %>


                
    </ul>
</body>
</html>